* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content:"";
    display:table;
    clear:both;
}

html
body{
    
   
}

body{
    background-image: linear-gradient(rgba(49, 16, 235, 0.65), rgba(253, 253, 253, 0.05)), url(img/bg-min.png);
    background-position: center;      
    background-attachment: fixed;
}

h2 img{   
    width: 100%;   
    height: auto;
}
header{   
    background-color: #3c347f;
    background-image: linear-gradient(rgba(255, 255, 255, 0.31), rgba(255, 255, 255, 0.78)), url(img/bg-min.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: play-img 0.5s 1;
    padding: 20px;
}
section
{
    padding: 20px;
}

h1
{
    margin: 0px;
}

header img
{
    height: 28px;
    width: auto;
}

header a
{
    text-decoration: none;
}

.mratom
{
   float: right;
}

.btn-app img{
    height: 60px;
    width: auto;
    margin: 10px auto;
    cursor: pointer;
    display: block;
}

.round-div{
    text-align: center;    
    background-image: url(img/bg-content.png);  
    border-radius: 20px;
    padding: 40px 0 20px 0;    
    background-attachment: fixed;
    border-top: 1px solid #000;
    border-right: 1px solid #000; 
    border-left: 1px solid #000; 
}
/**
.achievement
{
    height: 40px;
    width: auto;
    margin-left: 20px;
}

.main
{
    float:right;
}

section
{
    border-top: 0 none #000;
}
**/

.lightning{
    position: absolute;  
    /*center the text*/
    top: 5%;
    left:500px;
    transform: translate(0, -50%) scale(1, 0.45);
    text-align: center;
}
